<div id="tridiv">
  <div class="scene" style="-webkit-transform:rotateX(-1464deg) rotateY(-43deg); -moz-transform:rotateX(-1464deg) rotateY(-43deg); -ms-transform:rotateX(-1464deg) rotateY(-43deg); transform:rotateX(-1464deg) rotateY(-43deg); ">
    <div class="shape cuboid-1 cub-1">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader-alt-side" style="background-image: url(<%= @order.image %>);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.54902);"></div>
      </div>
      <div class="face lt" style="-webkit-backface-visibility: hidden; border: 1px solid rgba(0, 0, 0, 0);">
        <div class="photon-shader-alt-top" style="background-image: url(<%= @order.image %>);"></div>
      </div>
      <div class="face lt" style="-webkit-backface-visibility: hidden; -webkit-transform: rotateY(90deg) translateX(-50%) translateY(-10%); z-index: 1000; height: 32px; ">
        <img class="photon-shader-alt-top-case" src='/images/case-top.png'></img>
      </div>
      <div class="face bm">
        <div class="photon-shader-alt" style="background-image: url('<%= @order.image %>');" id="main-face"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.509804);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.447059);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.345098);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.231373);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader-alt-cr cr-1" style="background-image: url(<%= @order.image %>);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader-alt-cr cr-2" style="background-image: url(<%= @order.image %>);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader-alt-cr cr-3" style="background-image: url(<%= @order.image %>);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader-alt-cr cr-4 " style="background-image: url(<%= @order.image %>);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.254902);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.364706);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.466667);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.533333);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.52549);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-2 cub-2">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 100, 0, 0.509804);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader camera-lens" style="background-color: rgba(0, 0, 0, 0.0901961); left: -10px;"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.52549);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.533333);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.466667);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.364706);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.254902);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.14902);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0745098);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0627451);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.129412);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.231373);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.345098);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.447059);"></div>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="container-fluid thin-padding hidden" id="all-select">
    <div id="canvas-container">
      <canvas id="insta-canvas"></canvas>
 
    </div>

    <input type='file' name="files[]" class="hidden" id="image-input" multiple/>
      <div class="">
        <%= form_for(@order) do |f| %>

          <div class="field">
            <%= f.label :quantity %><br>
            <%= f.number_field :quantity %>
          </div>
          <div class="field">
            <%= f.label :canvas %><br>
            <%= f.text_field :canvas, :value=> @canvas %>
          </div>
          <div class="field">
            <%= f.label :image %><br>
            <%= f.text_field :image %>
          </div>
          <div class="field">
            <%= f.label :offset %><br>
            <%= f.text_field :offset %>
          </div>
          <div class="field">
            <%= f.label :startW %><br>
            <%= f.text_field :startW %>
          </div>
          <div class="field">
            <%= f.label :price %><br>
            <%= f.text_field :price %>
          </div>
          <div class="actions">
            <%= f.submit "new", :id=>"submit-new" %>
            <%= f.submit "save", :id=>"submit-save" %>
          </div>
          <br><br><br><br>
        <% end %>
      </div>
    <div id="footer-font">
      <span style="font-family:'Abril Fatface'">iPhone</span><br>
      <span style="font-family:'Josefin Slab'">iPhone 5</span><br>
      <span style="font-family:'Arvo'">iPhone 4</span><br>
      <span style="font-family:'Cardo'">iPhone 5s</span><br>
      <span style="font-family:'Abril Fatface'">iPhone 4s</span><br>
      <span style="font-family:'Josefin Slab'">iPhone case</span><br>
      <span style="font-family:'Droid Sans'">Phone case</span><br>
      <span style="font-family:'Josefin Slab'">Custom case</span><br>
      <span style="font-family:'Lato'">Custom iPhone case</span><br>
      <span style="font-family:'Lobster'">Customized phone case</span><br>
      <span style="font-family:'Montserrat Alternates'">Customized iPhone case</span><br>
      <span style="font-family:'Open Sans'">Customized iPhone 5 case</span><br>
      <span style="font-family:'Oswald'">Create iPhone case</span><br>
      <span style="font-family:'PT Mono'">Create iPhone 5 case</span><br>
      <span style="font-family:'Ubuntu'">Customize iPhone case</span><br>
      <span style="font-family:'Varela'">Customize iPhone 5 case</span><br>
      <span style="font-family:'Vollkorn'">Make your own iPhone case</span><br>
    </div>
  </div>

