<!DOCTYPE html>
<html>
<head>

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style"
    content="black-translucent" />
  <script src="/js/fabric.js" ></script>
  <script src="/js/detectmobile.js" ></script>
  <script src="/spectrum/spectrum.js" ></script>
  <script src="/bootstrap-select/bootstrap-select.js"></script>
  <!--<script type="text/javascript" src="https://raw.githubusercontent.com/kangax/fabric.js/master/dist/fabric.js"></script>-->
  <link rel="stylesheet" media="screen" type="text/css" href="/spectrum/spectrum.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="/bootstrap-select/bootstrap-select.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="/font-awesome-4.0.3/css/font-awesome.css" />
	<title>MerchJoy</title>
<script>
	function set_cookie ( cookie_name, cookie_value,
    lifespan_in_days, valid_domain )
		{
		    var domain_string = valid_domain ?
		                       ("; domain=" + valid_domain) : '' ;
		    document.cookie = cookie_name +
		                       "=" + encodeURIComponent( cookie_value ) +
		                       "; max-age=" + 60 * 60 *
		                       24 * lifespan_in_days +
		                       "; path=/" + domain_string ;
		}
</script>
</head>
<body>
	<%= render 'layouts/header' %>

	<div id="insta-wrap">

		<% flash.each do |name, msg| %>
			<%= content_tag(:div ,msg, class: "alert alert-#{name}") %>
		<% end %>
		<%= yield %>

	</div>




	<%= render 'layouts/footer' %>
</body>
</html>
